.navigation{
    margin: auto;

    a{
        margin: 9px;
        padding: 5px;
        position: relative;
    }

    .nav-active {
        &::after{
            content: '';
            width: 85%;
            height: 2px;
            background: rgb(61, 61, 61);
            position: absolute;
            bottom: 1px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}


@media all and (min-width : 950px){

    .navigation{
        margin: 30px;
    }
}

